@media (orientation: landscape) and (min-width: 1366px){
  #main-canvas{
    /* Display controls beside the simulation in landscape mode rather than
       below the simulation in portrait mode */
    display: flex;
  }

  .controls-widget{
    margin-left: 1%; /* Spacing for landscape mode only */
  }

  .control-box, .control-box tbody, .control-box tr{
    height: 100%; /* Align control box with canvas height */
  }
}

canvas{
  height: auto !important; /* Override inline values for responsive scaling */
  width: 100% !important; /* Override inline values for responsive scaling */
}

.control-box tr{
  display: flex; /* Put panels side by side */
  justify-content: space-between;
}

.control-box td{
  flex-basis: 49.5%; /* 1% space-between */
  border: 1px solid black;
  border-radius: calc(0.5em + 2px); /* border radius of title + 2px border */
  padding: 0;
}

.control-title{
  border-radius: 0.5em 0.5em 0 0; /* Round corners on top-left and top-right */
  color: #fff;
  padding: 0.5em 1em; /* top/bottom, left/right */
}

.control-div{
  padding: 1em;
}

.control-div p{ /* Reset margin of paragraphs in control-divs to allow control
  of spacing using line_break()s in make_control_panel() instead */
  margin: 0;
}

.controls-widget button{
  margin: 1px;
  position: relative; /* enables z-index */
  transition: transform .3s;
}

/* See implementation of key_triggered_button() in tiny-graphics.js for hover
   styling; must be implemented there in order to work with key controls. */

.control-div button{ /* All buttons not in button groups are full width */
  width: 100%;
}

.control-div.camera-controls .movement-button-row{
  display: flex; /* Button group arranges a row of buttons */
}