:root {
  --dyn-height: 500px;
}

.nb-container {
  border: 1px solid black;
  height: var(--dyn-height);
  overflow: hidden;
  overflow-x: scroll;
}

.nb-container iframe {
  height: 100%;
}

@media (max-width: 1599px){
  .nb-container iframe {
    width: 1200px; /* Ensure the whole notebook is viewable on any screen */
  }
}
@media (min-width: 1600px){
  .nb-container iframe {
    width: 100%;
  }
}