:root {
  --dyn-height: 0; /* Allows notebook viewport to scale with window size */
}

.nb-viewport {
  border: 1px solid black;
  height: var(--dyn-height);
  min-height: 128px;
  overflow: scroll hidden;
}

.nb-viewport iframe {
  height: 100%;
  min-width: 1200px; /* Ensure the whole notebook is viewable on any screen */
  width: 100%;
}