:root {
  --dyn-height: 0px;
}

.dyn-div{
  height: var(--dyn-height);
  min-height: 500px; /* Prevent embed from disappearing on small screens */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dyn-div embed{
  border: 1px solid black;
  flex-basis: 100%; /* Fill remainder of dyn-div */
}