.backend-container{
  border: 1px solid black;
  border-radius: calc(0.5em + 2px); /* border radius of title + 2px border */
}

.backend-container p{
  color: #fff;
  padding: 0.5em 1em; /* top/bottom, left/right */
  border-radius: 0.5em 0.5em 0 0; /* Round corners on top-left and top-right */
}

.backend-container form{
  padding: 0.5em 1em; /* top/bottom, left/right */
}