.card{
  overflow: hidden; /* Hides text when the card is hidden */
}

/* Card filter animations */

.card-out{
  border-width: 0;
  margin: 0;
  /* property, duration, timing function, delay */
  transition: border-width 0s linear 0.5s, /* Remove border after animation */
              margin 0.05s linear 0.25s; /* Collapse margin late in animation */
}

.body-in{
  max-height: 400px;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); /* Restore vertical padding */
  /* property, duration, timing function */
  transition: max-height 0.5s ease-in, padding 0.5s ease-in;
}

.body-out{
  display: none;
}

.img-in{
  max-height: 600px;
  /* property, duration, timing function */
  transition: max-height 0.5s ease-in;
}

.img-out{
  max-height: 0;
  /* property, duration, timing function */
  transition: max-height 0.5s ease-out;
}