/* Card filter animations */

.card-out{
  border-width: 0;
  margin: 0;
  /* property, duration, timing function, delay */
  transition: border-width 0s linear 0.5s, /* Remove border after animation */
              margin 0.05s linear 0.45s; /* Collapse margin late in animation */
}

.body-in{
  width: 100%;

  /* property, duration, timing function, delay */
  transition: padding 0.5s ease-in,
              width 0.5s ease-in,
              white-space 0 linear 0.5s; /* Enable wrap at the end */
}

.body-out{
  overflow: hidden;
  white-space: nowrap;

  padding: 0;
  width: 0;
  /* property, duration, timing function */
  transition: padding 0.5s ease-in,
              width 0.5s ease-in;
}

.img-in{
  width: 100%;
  /* property, duration, timing function */
  transition: width 0.5s ease-in;
}

.img-out{
  width: 0;
  /* property, duration, timing function */
  transition: width 0.5s ease-out;
}