.profile{
  display: flex;
}

@media (orientation: portrait){
  .profile{
    /* Display Profile section above About section */
    flex-direction: column;
  }
}

@media (orientation: landscape){
  .profile{
    /* Display Profile and About sections side by side */
    flex-direction: row;
  }

  .profile section{
    flex-basis: 30%; /* Section width relative to profile div width */
    margin-right: 2em;
  }

  .profile aside{
    margin-left: 2em;
    flex-basis: 70%; /* Aside width relative to profile div width */
  }
}

.profile section{
  text-align: center;
}

.profile section img{
  max-width: 100%; /* Image width relative to section width */
  border-radius: 50%; /* Circular image */
  margin: 1em 0em; /* top/bottom, left/right */
}

[data-bs-theme="dark"]{
  .github-svg{
    /* Goal is to match --bs-body-color (#dee2e6: H 210, S 3%, B 90%).
       invert(100%) from the base #212529 yields #dedad6: H 30 S 4% B 87%. */
    filter: invert(100%) saturate(75%) brightness(103%) hue-rotate(176deg);
  }
}