@media (orientation: portrait) or (max-width: 1279px){
  .home{
    /* Display Profile section above About section */
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: landscape) and (min-width: 1280px){
  .home section{
    position: fixed; /* Profile section does not scroll */
    width: 20%;
  }

  .home aside{
    margin-left: 30%;
  }
}

.home section{
  text-align: center;
}

.home section img{
  max-width: 100%; /* Image width relative to section width */
  border-radius: 50%; /* Circular image */
  margin: 1em 0em; /* top/bottom, left/right */
}

.home section .bi{ /* GitHub and LinkedIn buttons */
  font-size: 4em; /* Set icon size */
  margin: 0em 0.125em; /* top/bottom, left/right */
}

/* Carousel styling */

.carousel{
  /* Make room for carousel controls around the project card so they don't
     interfere with clickable buttons within the project card. */
  padding: 0 2.5em 1.5em; /* top, right/left, bottom */
  margin: 2em auto 0; /* top, right/left, bottom */
  /* 1080px card images, 1px borders, 5em padding */
  max-width: calc(1082px + 5em);
}

.carousel-indicators{ /* The control area at the bottom of the carousel */
  margin: 0; /* Resets the preexisting margin */
}

.carousel-indicators button{
  /* Gets overriden without !important */
  background-color: var(--bs-body-color) !important;
}

.carousel-control-prev, .carousel-control-next{ /* Left/right buttons */
  background-color: var(--bs-body-color); /* Make carousel controls visible */
  border-radius: var(--bs-border-radius);
  width: 2em; /* Prevent overlap with card */
  height: calc(100% - 1.5em); /* Align with card, exclude bottom padding */
}