.home{
  display: flex;
}

@media (orientation: portrait) or (max-width: 1279px){
  .home{
    /* Display Profile section above About section */
    flex-direction: column;
  }
}

@media (orientation: landscape){
  @media (max-width: 1919px){ /* Applies below 1080p (1920x1080) */
    .home section{
      min-width: 256px;
    }

    .home aside{
      max-width: calc(100% - 256px);
    }
  }

  @media (max-width: 2559px){ /* Applies below 1440p (2560x1440) */
    .home aside{
      margin-left: 4em;
    }
  }

  @media (max-width: 3839px){ /* Applies below 4K (3840x2160) */
    .home section{
      flex-basis: 30%;
    }

    .home aside{
      flex-basis: 70%;
    }
  }

  @media (min-width: 3840px){ /* Applies to 4K (3840x2160) and higher */
    .home section{
      flex-basis: 20%;
    }

    .home aside{
      flex-basis: 80%;
    }
  }
}

.home section{
  text-align: center;
}

.home section img{
  max-width: 100%; /* Image width relative to section width */
  border-radius: 50%; /* Circular image */
  margin: 1em 0em; /* top/bottom, left/right */
}

.home section .bi{ /* GitHub and LinkedIn buttons */
  font-size: 4em; /* Set icon size */
  margin: 0em 0.125em; /* top/bottom, left/right */
}

/* Carousel styling */

.carousel{
  /* Make room for carousel controls around the project card so they don't
     interfere with clickable buttons within the project card. */
  padding: 0 2.5em 1.5em; /* top, right/left, bottom */
  /* 1080px card images, 1px borders, 5em padding */
  max-width: calc(1082px + 5em);
}

.carousel-indicators{ /* The control area at the bottom of the carousel */
  margin: 0; /* Resets the preexisting margin */
}

.carousel-indicators button{
  /* Gets overriden without !important */
  background-color: var(--bs-body-color) !important;
}

.carousel-control-prev, .carousel-control-next{ /* Left/right buttons */
  background-color: var(--bs-body-color); /* Make carousel controls visible */
  border-radius: var(--bs-border-radius);
  width: 2em; /* Prevent overlap with card */
  height: calc(100% - 1.5em); /* Align with card, exclude bottom padding */
}