/* Filter section styling */

@media (max-width: 1599px){
  /* If the window is less than 1600px wide, the tag buttons render poorly. */
  #filter-container{
    display: none;
  }
}

@media (min-width: 1600px) and (max-width: 1919px){
  #filter-label{
    margin: 0 1em 1em 0; /* top, right, bottom, left */
  }
}

@media (orientation: landscape) and (min-width: 1920px){
  /* If the window is at least 1920px wide, the tag buttons and label can be on the same line. */
  #filter-container{
    display: flex;
  }
  #filter-label{ /* Vertically align label based on button height */
    margin: auto 1em auto 0; /* top, right, bottom, left */
  }
}

.filter-btns .btn{
  margin: 0; /* Remove margin for filter buttons */
}

/* Projects section styling */

.projects-section{
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) and (min-width: 1366px){
  .sections{
    /* Display Featured Projects section and Projects section side by side */
    display: flex;
    justify-content: space-between;
  }

  .projects-section{
    width: 49.5%; /* 1% space between */
  }
}

/* Card styling */

.card{
  margin: 0.5em 0; /* top/bottom, left/right */
  overflow: hidden;
}

.card img{
  /* Scale image to fill available card image space while allowing vertical
     compression during filter out animation. */
  object-fit: fill;
  height: auto;
  width: auto;
}

/* Card filter animations */

.card-out{
  border-width: 0;
  margin: 0;

  /* property, duration, timing function, delay */
  transition: border-width 0s linear 0.5s, /* Remove border after animation */
              margin 0.05s linear 0.45s; /* Collapse margin late in animation */
}

.body-in{
  max-height: 400px;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); /* Restore vertical padding */
  transition: max-height 0.5s ease-in, padding 0.5s ease-in;
}

.body-out{
  max-height: 0;
  padding: 0 var(--bs-card-spacer-x); /* Remove vertical padding */
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.img-in{
  max-height: 600px;
  transition: max-height 0.5s ease-in;
}

.img-out{
  max-height: 0;
  transition: max-height 0.5s ease-out;
}